{% extends 'main/base.html' %}
{% block content %}
{% load media_url %}

<p class="lead">Apple Store - это розничная сеть, принадлежащая компании Apple Inc., специализирующаяся на продаже
    продукции Apple, аксессуаров и услуг.</p>
{% if user.is_authenticated %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
</div>
{% endif %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ object|title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if user == object.owner or has_perms %}
                        <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-warning">Edit</a>
                        {% endif %}
                        <a href="{% url 'catalog:product_detail' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-success">View</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
