{% extends 'main/base.html' %}
{% block content %}
{% load media_url %}

<p class="lead">Apple Store - это розничная сеть, принадлежащая компании Apple Inc., специализирующаяся на продаже
    продукции Apple, аксессуаров и услуг.</p>


<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img class="card-img-top" src="{% media_url object.image %}">
                </div>
                <div class="card-body">
                    <h6>{{ object|title }}</h6>
                    <h1 class="card-title pricing-card-title">{{ object.price }}$</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description|slice:":100" }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}