{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">
                    {% if object %}
                    Сохранить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{ version_form.as_p }}
                    <p>Versions:</p>
                    <ul>
                        {% for version in product.versions.all %}
                            {% if version.is_current_version %}
                                <li>
                                    Актуальная версия {{ version.version_number }} - {{ version.version_name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% for version in product.versions.all %}
                            {% if not version.is_current_version %}
                                <li>
                                    {{ version.version_number }} - {{ version.version_name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
